<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="egovframework.tablet.service.mapper.TabletMapper">
	<select id="findAdminById" resultType="TabletAdminVO">
		SELECT
			ID,
			USER_NM,
			ENPSWD,
			ACNT_STTS_CD,
			AUTHRT_CD
		FROM ADMIN_MST
		WHERE ID = #{id}
	</select>

	<update id="updateAdminLastLogin">
		UPDATE ADMIN_MST
		SET LAST_CNTN_DT = NOW()
		WHERE ID = #{id}
	</update>

	<select id="findReservationByDate" resultType="TabletReservationVO">
		SELECT
			R.RSVT_SN,
			R.RSVT_NO,
			R.SCHL_NM,
			R.SCYR_NM,
			R.RSVT_YMD,
			R.VST_HM,
			R.RSVT_NOPE,
			R.ACTL_NOPE,
			R.PRGRM_TYPE_CD,
			CASE R.PRGRM_TYPE_CD
				WHEN 'MISSION' THEN '미션'
				WHEN 'EXPLORE' THEN '사건탐구'
				ELSE R.PRGRM_TYPE_CD
			END AS PRGRM_TYPE_NM,
			R.PRGRM_SN,
			P.PRGRM_NM,
			P.TRGT_CN,
			P.TOTAL_TM_MNT,
			P.MAX_NOPE,
			P.SIMPLE_EXPLN,
			P.START_EXPLN,
			P.TEAM_CNT,
			P.ROUTE_JSON,
			P.STEP_JSON,
			P.EVAL_JSON,
			R.LRN_STTS_CD,
			CASE R.LRN_STTS_CD
				WHEN 'READY' THEN '진행 전'
				WHEN 'ING' THEN '진행 중'
				WHEN 'DONE' THEN '완료'
				ELSE R.LRN_STTS_CD
			END AS LRN_STTS_NM,
			(
				SELECT COUNT(*)
				FROM EDU_RSVT_STDNT S
				WHERE S.RSVT_SN = R.RSVT_SN
				AND S.DEL_DT IS NULL
			) AS STDNT_CNT
		FROM EDU_RSVT_MST R
		LEFT JOIN EDU_PRGRM_MST P ON P.PRGRM_SN = R.PRGRM_SN AND P.PRGRM_TYPE_CD = R.PRGRM_TYPE_CD
		WHERE R.RSVT_YMD = #{rsvtYmd}
		AND R.DEL_DT IS NULL
		ORDER BY R.VST_HM DESC, R.RSVT_SN DESC
		LIMIT 1
	</select>

	<select id="selectStudents" resultType="TabletStudentVO">
		SELECT
			STDNT_SN,
			RSVT_SN,
			STDNT_NO,
			CLAS_NM,
			CLAS_NO,
			STDNT_NM,
			ATND_YN,
			TEAM_NM,
			ASGN_NM,
			ROUTE_CN,
			LRN_STTS_CD,
			PRGRS_RT
		FROM EDU_RSVT_STDNT
		WHERE RSVT_SN = #{rsvtSn}
		AND DEL_DT IS NULL
		ORDER BY CAST(COALESCE(NULLIF(STDNT_NO, ''), STDNT_SN) AS UNSIGNED), STDNT_SN
	</select>

	<sql id="tabletContentSelectColumns">
		C.CNTN_SN,
		C.CNTN_TYPE_CD,
		CASE C.CNTN_TYPE_CD
			WHEN 'INFO' THEN '정보안내'
			WHEN 'VIDEO' THEN '애니메이션 영상'
			WHEN 'SELECT' THEN '선택형 활동'
			WHEN 'DATA' THEN '데이터 입력'
			WHEN 'PHOTO' THEN '사진 업로드'
			WHEN 'SENTENCE' THEN '문장완성형'
			ELSE C.CNTN_TYPE_CD
		END AS CNTN_TYPE_NM,
		C.CARD_CLSF_CD,
		CASE C.CARD_CLSF_CD
			WHEN 'MISSION' THEN '미션카드'
			WHEN 'EXPLORE' THEN '탐구카드'
			WHEN 'EXPERIENCE' THEN '체험카드'
			WHEN 'DESIGN' THEN '설계활동'
			WHEN 'MAKER' THEN '메이커활동'
			ELSE C.CARD_CLSF_CD
		END AS CARD_CLSF_NM,
		C.CNTN_TTL,
		C.CNTN_CN,
		C.PRVD_TYPE_CD,
		CASE C.PRVD_TYPE_CD
			WHEN 'IMAGE' THEN '이미지'
			WHEN 'VIDEO' THEN '동영상'
			ELSE C.PRVD_TYPE_CD
		END AS PRVD_TYPE_NM,
		C.IMG_ATCH_FILE_ID,
		C.VIDEO_URL_ADDR,
		C.VIDEO_THMB_ATCH_FILE_ID,
		C.VIDEO_TTL
	</sql>

	<select id="selectContentsByIds" resultType="TabletContentVO">
		SELECT
		<include refid="tabletContentSelectColumns"/>
		FROM EDU_CNTN_MST C
		WHERE C.DEL_DT IS NULL
		AND C.CNTN_SN IN
		<foreach collection="contentIds" item="contentId" open="(" separator="," close=")">
			#{contentId}
		</foreach>
		ORDER BY C.CNTN_SN ASC
	</select>

	<select id="selectContentsByNames" resultType="TabletContentVO">
		SELECT
		<include refid="tabletContentSelectColumns"/>
		FROM EDU_CNTN_MST C
		WHERE C.DEL_DT IS NULL
		AND C.CNTN_TTL IN
		<foreach collection="contentNames" item="contentName" open="(" separator="," close=")">
			#{contentName}
		</foreach>
		ORDER BY C.CNTN_SN ASC
	</select>

	<select id="selectContentQuestions" resultType="TabletContentQuestionVO">
		SELECT
			Q.CNTN_QSTN_SN,
			Q.CNTN_SN,
			Q.QSTN_TYPE_CD,
			CASE Q.QSTN_TYPE_CD
				WHEN 'SELECT' THEN '선택형 활동'
				WHEN 'DATA' THEN '데이터 입력'
				WHEN 'PHOTO' THEN '사진 업로드'
				WHEN 'SENTENCE' THEN '문장완성형'
				ELSE Q.QSTN_TYPE_CD
			END AS QSTN_TYPE_NM,
			Q.QSTN_NM,
			Q.QSTN_IMG_ATCH_FILE_ID,
			Q.OPTN_CN,
			Q.SORT_SEQ
		FROM EDU_CNTN_QSTN Q
		WHERE Q.CNTN_SN IN
		<foreach collection="contentIds" item="contentId" open="(" separator="," close=")">
			#{contentId}
		</foreach>
		ORDER BY Q.CNTN_SN ASC, Q.SORT_SEQ ASC, Q.CNTN_QSTN_SN ASC
	</select>

	<select id="selectProgressLogs" resultType="TabletProgressLogVO">
		SELECT
			STDNT_SN,
			STEP_CD,
			ACTVT_NM,
			STEP_STTS_CD
		FROM EDU_LRN_PRGRS_LOG
		WHERE RSVT_SN = #{rsvtSn}
		AND STEP_STTS_CD = 'DONE'
		ORDER BY STDNT_SN ASC, STEP_CD ASC
	</select>

	<select id="selectSavedAnswers" resultType="TabletSavedAnswerVO">
		SELECT
			LRN_ANS_SN,
			RSVT_SN,
			STDNT_SN,
			ANS_TYPE_CD,
			STEP_CD,
			CNTN_SN,
			QSTNR_SN,
			QSTN_SN,
			QSTN_CN,
			ANS_CN
		FROM EDU_LRN_ANS
		WHERE RSVT_SN = #{rsvtSn}
		AND ANS_TYPE_CD IN ('WORKSHEET', 'HERO', 'EVALUATION', 'SURVEY')
		AND DEL_DT IS NULL
		ORDER BY STDNT_SN ASC, STEP_CD ASC, LRN_ANS_SN ASC
	</select>

	<select id="selectQuestionnaireQuestions" resultType="TabletQuestionnaireQuestionVO">
		SELECT
			Q.QSTNR_SN,
			Q.QSTN_SN,
			Q.QSTN_NO,
			Q.ANS_TYPE_CD,
			CASE Q.ANS_TYPE_CD
				WHEN 'LIKERT5' THEN '리커트 5점'
				WHEN 'LEVEL5' THEN '상중하 5단계'
				WHEN 'TEXT' THEN '주관식'
				ELSE Q.ANS_TYPE_CD
			END AS ANS_TYPE_NM,
			Q.QSTN_CN,
			Q.SORT_SEQ
		FROM EDU_QSTNR_QSTN Q
		INNER JOIN EDU_QSTNR_MST M ON M.QSTNR_SN = Q.QSTNR_SN
		WHERE Q.QSTNR_SN = #{qstnrSn}
		AND M.QSTNR_TYPE_CD = #{qstnrTypeCd}
		AND M.DEL_DT IS NULL
		ORDER BY Q.SORT_SEQ ASC, Q.QSTN_SN ASC
	</select>

	<select id="selectQuestionnaireQuestionsByName" resultType="TabletQuestionnaireQuestionVO">
		SELECT
			Q.QSTNR_SN,
			Q.QSTN_SN,
			Q.QSTN_NO,
			Q.ANS_TYPE_CD,
			CASE Q.ANS_TYPE_CD
				WHEN 'LIKERT5' THEN '리커트 5점'
				WHEN 'LEVEL5' THEN '상중하 5단계'
				WHEN 'TEXT' THEN '주관식'
				ELSE Q.ANS_TYPE_CD
			END AS ANS_TYPE_NM,
			Q.QSTN_CN,
			Q.SORT_SEQ
		FROM EDU_QSTNR_QSTN Q
		INNER JOIN EDU_QSTNR_MST M ON M.QSTNR_SN = Q.QSTNR_SN
		WHERE M.QSTNR_NM = #{qstnrNm}
		AND M.QSTNR_TYPE_CD = #{qstnrTypeCd}
		AND M.DEL_DT IS NULL
		ORDER BY Q.SORT_SEQ ASC, Q.QSTN_SN ASC
	</select>

	<select id="selectLearningResources" resultType="TabletLearningResourceVO">
		SELECT
			B.PST_SN,
			B.PST_TTL,
			B.PST_CN,
			B.ETC1 AS LRN_TYPE_CD,
			CASE B.ETC1
				WHEN 'PRE' THEN '사전학습'
				WHEN 'MAIN' THEN '본학습'
				WHEN 'POST' THEN '사후학습'
				ELSE B.ETC1
			END AS LRN_TYPE_NM,
			B.ETC2 AS DATA_TYPE_CD,
			CASE B.ETC2
				WHEN 'LINK' THEN '링크'
				WHEN 'DOC' THEN '문서'
				WHEN 'VIDEO' THEN '동영상'
				ELSE B.ETC2
			END AS DATA_TYPE_NM,
			B.ETC3 AS PRGRM_TYPE_CD,
			CASE B.ETC3
				WHEN 'MISSION' THEN '미션'
				WHEN 'EXPLORE' THEN '사건탐구'
				ELSE B.ETC3
			END AS PRGRM_TYPE_NM,
			CAST(NULLIF(B.ETC4, '') AS UNSIGNED) AS PRGRM_SN,
			P.PRGRM_NM,
			B.LNKG_URL_ADDR AS LINK_URL,
			B.ETC5 AS VIDEO_EMBED_URL,
			B.ATCH_FILE_MNG_NO,
			F.FILE_SEQ,
			F.ATCH_FILE_PATH_NM AS FILE_URL,
			F.ORGNL_FILE_NM,
			B.PSTG_YMD
		FROM BBS_ARTICLE B
		LEFT JOIN EDU_PRGRM_MST P
			ON P.PRGRM_TYPE_CD = B.ETC3
			AND P.PRGRM_SN = CAST(NULLIF(B.ETC4, '') AS UNSIGNED)
			AND P.DEL_DT IS NULL
		LEFT JOIN ATCH_FILE_INFO F
			ON F.ATCH_FILE_MNG_NO = B.ATCH_FILE_MNG_NO
			AND F.FILE_SEQ = (
				SELECT MIN(F2.FILE_SEQ)
				FROM ATCH_FILE_INFO F2
				WHERE F2.ATCH_FILE_MNG_NO = B.ATCH_FILE_MNG_NO
			)
		WHERE B.BBS_ID = 'LRNSUP'
		AND B.USE_YN = 'Y'
		AND B.ETC1 = 'MAIN'
		AND B.ETC3 = #{prgrmTypeCd}
		AND CAST(NULLIF(B.ETC4, '') AS UNSIGNED) = #{prgrmSn}
		ORDER BY B.PSTG_YMD DESC, B.REG_DT DESC, B.PST_SN DESC
	</select>

	<select id="selectTeacherCalls" resultType="TabletTeacherCallVO">
		SELECT
			CALL_SN,
			RSVT_SN,
			TEAM_NM,
			STDNT_NMS AS STUDENT_NAMES,
			STDNT_CNT AS STUDENT_COUNT,
			PLACE_NM,
			CALL_CN,
			CALL_STTS_CD,
			CASE CALL_STTS_CD
				WHEN 'READ' THEN '읽음'
				ELSE '대기'
			END AS CALL_STTS_NM,
			DATE_FORMAT(REG_DT, '%Y-%m-%d %H:%i:%s') AS REG_DT,
			DATE_FORMAT(READ_DT, '%Y-%m-%d %H:%i:%s') AS READ_DT
		FROM EDU_TCHR_CALL
		WHERE RSVT_SN = #{rsvtSn}
		AND DEL_DT IS NULL
		ORDER BY REG_DT DESC, CALL_SN DESC
	</select>

	<insert id="insertTeacherCall" useGeneratedKeys="true" keyProperty="callSn">
		INSERT INTO EDU_TCHR_CALL (
			RSVT_SN,
			TEAM_NM,
			STDNT_NMS,
			STDNT_CNT,
			PLACE_NM,
			CALL_CN,
			CALL_STTS_CD,
			RGTR,
			REG_DT
		) VALUES (
			#{rsvtSn},
			#{teamNm},
			#{studentNames},
			#{studentCount},
			#{placeNm},
			#{callCn},
			'WAIT',
			'tablet',
			NOW()
		)
	</insert>

	<update id="updateTeacherCallRead">
		UPDATE EDU_TCHR_CALL
		SET CALL_STTS_CD = 'READ',
			READ_DT = COALESCE(READ_DT, NOW()),
			MDTR = 'tablet',
			MDFCN_DT = NOW()
		WHERE CALL_SN = #{callSn}
		AND DEL_DT IS NULL
	</update>

	<update id="updateAllTeacherCallsRead">
		UPDATE EDU_TCHR_CALL
		SET CALL_STTS_CD = 'READ',
			READ_DT = COALESCE(READ_DT, NOW()),
			MDTR = 'tablet',
			MDFCN_DT = NOW()
		WHERE RSVT_SN = #{rsvtSn}
		AND DEL_DT IS NULL
		AND CALL_STTS_CD != 'READ'
	</update>

	<update id="syncAttendance">
		UPDATE EDU_RSVT_STDNT
		SET ATND_YN = CASE
				WHEN STDNT_SN IN
				<foreach collection="studentSns" item="studentSn" open="(" separator="," close=")">
					#{studentSn}
				</foreach>
				THEN 'Y'
				ELSE 'N'
			END,
			MDFCN_DT = NOW(),
			MDTR = 'tablet'
		WHERE RSVT_SN = #{rsvtSn}
		AND DEL_DT IS NULL
	</update>

	<update id="deleteMissionAnswers">
		UPDATE EDU_LRN_ANS
		SET DEL_DT = NOW(),
			DELTR = 'tablet'
		WHERE RSVT_SN = #{rsvtSn}
		AND STDNT_SN = #{stdntSn}
		AND ANS_TYPE_CD = 'WORKSHEET'
		AND STEP_CD = #{stepCd}
		AND DEL_DT IS NULL
	</update>

	<insert id="insertMissionAnswer">
		INSERT INTO EDU_LRN_ANS (
			RSVT_SN,
			STDNT_SN,
			ANS_TYPE_CD,
			STEP_CD,
			CARD_CLSF_CD,
			CNTN_SN,
			QSTN_SN,
			QSTN_CN,
			ANS_CN,
			RGTR,
			REG_DT
		) VALUES (
			#{rsvtSn},
			#{stdntSn},
			'WORKSHEET',
			#{stepCd},
			#{answer.cardClsfCd},
			#{answer.cntnSn},
			#{answer.qstnSn},
			#{answer.qstnCn},
			#{answer.ansCn},
			'tablet',
			NOW()
		)
	</insert>

	<update id="deleteTypedAnswers">
		UPDATE EDU_LRN_ANS
		SET DEL_DT = NOW(),
			DELTR = 'tablet'
		WHERE RSVT_SN = #{rsvtSn}
		AND STDNT_SN = #{stdntSn}
		AND ANS_TYPE_CD = #{ansTypeCd}
		AND DEL_DT IS NULL
	</update>

	<insert id="insertTypedAnswer">
		INSERT INTO EDU_LRN_ANS (
			RSVT_SN,
			STDNT_SN,
			ANS_TYPE_CD,
			STEP_CD,
			QSTNR_SN,
			QSTN_SN,
			QSTN_CN,
			ANS_CN,
			RGTR,
			REG_DT
		) VALUES (
			#{rsvtSn},
			#{stdntSn},
			#{ansTypeCd},
			#{stepCd},
			#{answer.qstnrSn},
			#{answer.qstnSn},
			#{answer.qstnCn},
			#{answer.ansCn},
			'tablet',
			NOW()
		)
	</insert>

	<update id="updateProgressLogDone">
		UPDATE EDU_LRN_PRGRS_LOG
		SET ACTVT_NM = #{actvtNm},
			STEP_STTS_CD = 'DONE',
			CMPTN_DT = NOW(),
			MDTR = 'tablet',
			MDFCN_DT = NOW()
		WHERE RSVT_SN = #{rsvtSn}
		AND STDNT_SN = #{stdntSn}
		AND STEP_CD = #{stepCd}
	</update>

	<insert id="insertProgressLogDone">
		INSERT INTO EDU_LRN_PRGRS_LOG (
			RSVT_SN,
			STDNT_SN,
			STEP_CD,
			ACTVT_NM,
			STEP_STTS_CD,
			BGNG_DT,
			CMPTN_DT,
			RGTR,
			REG_DT
		) VALUES (
			#{rsvtSn},
			#{stdntSn},
			#{stepCd},
			#{actvtNm},
			'DONE',
			NOW(),
			NOW(),
			'tablet',
			NOW()
		)
	</insert>

	<update id="updateStudentProgress">
		UPDATE EDU_RSVT_STDNT
		SET PRGRS_RT = #{progressRate},
			LRN_STTS_CD = #{learningStatus},
			MDTR = 'tablet',
			MDFCN_DT = NOW()
		WHERE RSVT_SN = #{rsvtSn}
		AND STDNT_SN = #{stdntSn}
		AND DEL_DT IS NULL
	</update>
</mapper>
