SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:mariadb://127.0.0.1:3306/ulmfe?allowPublicKeyRetrieval=true&useSSL=false
SPRING_DATASOURCE_USERNAME=ulmfe
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SERVER_PORT=9033
SERVER_ADDRESS=127.0.0.1
APP_SESSION_COOKIE_NAME=HKEGO_TABLET_SESSIONID
APP_SESSION_COOKIE_SAME_SITE=Lax
APP_SESSION_COOKIE_SECURE=true
APP_CSRF_COOKIE_SAME_SITE=Lax
APP_CSRF_COOKIE_SECURE=true
DEV_WATCH=true
