SPRING_PROFILES_ACTIVE=prod
SPRING_DATASOURCE_URL=jdbc:mariadb://127.0.0.1:3306/ulmfe?allowPublicKeyRetrieval=true&useSSL=false
SPRING_DATASOURCE_USERNAME=ulmfe
SPRING_DATASOURCE_PASSWORD=CHANGE_ME
SERVER_PORT=9032
SERVER_ADDRESS=127.0.0.1
FILE_UPLOAD_PATH=/home/ulmfe/uploads
APP_CRYPTO_SECRET_KEY=CHANGE_ME_32_BYTE_SECRET_KEY_123
APP_SESSION_COOKIE_SAME_SITE=Lax
APP_SESSION_COOKIE_SECURE=true
APP_CSRF_COOKIE_SAME_SITE=Lax
APP_CSRF_COOKIE_SECURE=true
