/* FAQ */
	.faq_wrap {display:flex; flex-direction:column; gap:16px;}
	.faq_wrap .box {background:#fff; border:#E5E8EB 1px solid; padding:0 30px; border-radius:16px; transition:.2s linear;}
	.faq_wrap .question,
	.faq_wrap .answer {position:relative; width:100%; text-align:left; transition:.2s linear; word-break:break-word; white-space:normal;}
	.faq_wrap .question {padding:24px 86px 24px 42px; line-height:30px;}
	.faq_wrap .answer {border-top:#EBEBEB 1px solid; padding:0 0 0 42px; font-size:17px; overflow:hidden; visibility:hidden; max-height:0;}
	.faq_wrap .question {z-index:1;}
	.faq_wrap .question:before,
	.faq_wrap .answer:before {position:absolute; top:24px; left:0; font-size:20px; font-weight:700; width:30px; text-align:center; line-height:30px; border-radius:50%;}
	.faq_wrap .question:before {content:"Q"; color:var(--c_blue); background:#E6F2F9;}
	.faq_wrap .answer:before {content:"A"; color:#fff; background:var(--c_blue);}
	.faq_wrap .question span {position:relative; color:var(--c_blue); font-weight:500; padding-right:13px; margin-right:12px;}
	.faq_wrap .question span:after {content:""; position:absolute; top:50%; right:0; width:1px; height:14px; background:#E5E8EB; transform:translateY(-50%);}
	.faq_wrap .question i {position:absolute; top:0; right:0; width:30px; height:100%; background:url('/pub/images/arrow_faq.svg') no-repeat 50% 50%; transition:.2s linear;}
	.faq_wrap .box.on {border-color:#00A6D9; box-shadow:0 4px 12px 0 rgba(0, 0, 0, 0.04);}
	.faq_wrap .box.on .question i {transform:rotate(180deg);}
	.faq_wrap .box.on .answer {padding:24px 24px 24px 42px; visibility:visible; max-height:none;}
	.faq_wrap .box img {height:auto !important;}

/* 반응형 */
@media screen and (max-width:1023px){
/* FAQ */
	.faq_wrap .box {padding:0 24px; border-radius:12px;}
	.faq_wrap .question {padding:20px 80px 20px 36px; line-height:26px;}
	.faq_wrap .answer {padding:0 0 0 36px; font-size:16px;}
	.faq_wrap .question:before,
	.faq_wrap .answer:before {top:20px; font-size:15px; width:26px; line-height:26px;}
	.faq_wrap .question span {padding-right:11px; margin-right:10px;}
	.faq_wrap .question span:after {height:12px;}
	.faq_wrap .question i {width:26px;}
	.faq_wrap .box.on .answer {padding:20px 20px 20px 36px;}
}

@media screen and (max-width:767px){
/* FAQ */
	.faq_wrap {gap:12px;}
	.faq_wrap .box {padding:0 16px;}
	.faq_wrap .question {padding:16px 40px 16px 30px; line-height:22px;}
	.faq_wrap .answer {padding:0 0 0 30px; font-size:13px;}
	.faq_wrap .question:before,
	.faq_wrap .answer:before {top:16px; font-size:13px; width:22px; line-height:22px;}
	.faq_wrap .question span {padding-right:6px; margin-right:5px;}
	.faq_wrap .question i {width:22px;}
	.faq_wrap .box.on .answer {padding:16px 16px 16px 30px;}
}